* {
  all: unset;
  font-family: "MonaspiceNe Nerd Font Mono";
  font-weight: bold;
}

.button {
  opacity: 0.6;
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
}

.scale {
  padding: 0px 5px 0px 5px;
}

.scale scale trough {
  background-color: #87012e;
  border-radius: 10px;
  min-height: 10px;
}

.scale scale trough highlight {
  background-color: #ff0055;
  border-radius: 10px;
}

@import "style/dashboard.scss";
@import "style/music.scss";
